## .NET ##
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.csproj.user
**/packages/

## Build results ##
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## VS Code ##
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## User files ##
*.suo
*.user
*.userosscache
*.sln.docstates

## IDE ##
*.swp
*.swo
*~